body {
    height: 100vh;
    width: 100%;


}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
}

.nav {
    display: flex;
    width: 100%;
    height: 70px;

    align-items: center;
    top: 20px;
    justify-content: space-between;
}

.logo {
    width: 70px;
    height: 40px;

    position: relative;
    top: 15px;
    padding: 5px;

}

.links {
    height: 60px;
    width: 490px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 13%;
    padding: 10px;



}

.links a {
    text-decoration: none;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin: 10px;
}

#More {
    color: #ff764d
}

.Try {
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 5%;

}

.Try a {
    text-decoration: none;
    margin: 20px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.blue {
    color: blue;

}

.black {
    color: black;

    font-size: small;
}

.header {
    height: 60px;
    width: 100%;

}

.header a {
    margin: 12px;
    text-decoration: none;
    color: black;
    position: relative;
    top: 40%;
    left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;

}

#About {
    color:  #ff764d;
}

.pictuer {
    width: 1000px;
    height: 600px;
    margin: auto;
    background-image: url(WhatsApp\ Image\ 2024-09-13\ at\ 15.00.11_c0e8f5f4.jpg);
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}



.Ableton {
    font-size: 120px;
    color: #ff764d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.end {

    height: 250px;
    width: 650px;
    padding: 15px;
    position: relative;
    top: 100px;
    left: 23%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.end a {
    color: blue;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.section {
    height: 700px;
    width: 700px;
    background-color: #fbffa7;

    position: relative;
    left: 40%;
}

.pictuer1 {
    height: 300px;
    width: 450px;

    background-image: url("https://ableton-production.imgix.net/about/photo-2.jpg?dpr=2&fit=crop&h=258&ixjsv=1.1.3&q=50&w=344");
    background-size: cover;
    position: absolute;
    top: 28%;
    left: 26%;
    background-position: 50%;
}

.pictuer2 {
    height: 500px;
    width: 500px;

    background-image: url("https://ableton-production.imgix.net/about/photo-1.jpg?dpr=2&fit=crop&h=430&ixjsv=1.1.3&q=50&w=430");
    background-size: cover;
    background-position: 50%;
    position: absolute;
    right: 90%;
    top: 10%;
}

.pra {
    height: 200px;
    width: 600px;

    padding: 10px;
    align-items: center;
    position: relative;
    top: 100px;
    left: 20%;


}

.pra h3 {
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pra p {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.vedio {

    height: 340px;
    width: 550px;

    margin: 10px;
    padding: 15px;
    align-items: center;
    position: relative;
    top: 100px;
    left: 19%;

}

.pic3 {

    height: 600px;
    width: 500px;

    position: relative;
    top: 20%;

}

.pra1 {

    height: 200px;
    width: 600px;

    padding: 15px;
    align-items: center;
    position: relative;
    top: 100px;
    left: 20%;
}

.pra1 h3 {
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pra1 p {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pic {

    height: 900px;
    width: 600px;
    background-color: #b6ffc0;

    position: relative;
    top: 40%;

}

.photo1 {

    height: 300px;
    width: 350px;

    background-image: url("https://ableton-production.imgix.net/about/photo-3.jpg?dpr=2&fit=crop&h=258&ixjsv=1.1.3&q=50&w=344");
    background-size: cover;
    position: absolute;
    top: 10%;
    left: 15%;
    background-position: 50%;
}

.photo2 {

    height: 300px;
    width: 350px;

    background-image: url("https://ableton-production.imgix.net/about/photo-4.jpg?dpr=2&fit=crop&h=258&ixjsv=1.1.3&q=50&w=344");
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 15%;
    background-position: 50%;
}

.photo3 {

    height: 500px;
    width: 450px;

    background-image: url("https://ableton-production.imgix.net/about/photo-5.jpg?dpr=2&fit=crop&h=430&ixjsv=1.1.3&q=50&w=430");
    background-size: cover;
    position: absolute;
    top: 15%;
    left: 85%;
    background-position: 50%;
}

.pp1 {

    height: 200px;
    width: 600px;

    padding: 15px;
    align-items: center;
    position: relative;
    top: 350px;
    left: 20%;

}

.pp1 h2 {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.pp1 p {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.bigpic {

    height: 500px;
    width: 80%;

    background-image: url(poster-meet-the-makers.avif);
    background-position: 50%;
    background-size: cover;
    position: relative;
    top: 70%;
    left: 10%;
}

.pp2 {

    height: 250px;
    width: 600px;

    padding: 15px;
    align-items: center;
    position: relative;
    top: 500px;
    left: 25%;
}

.pp2 h2 {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.pp2 p {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.pict {
    height: 700px;
    width: 770px;
    background-color: #d5b3ff;

    position: relative;
    top: 90%;
    left: 20%;


}

.pict1 {

    height: 350px;
    width: 400px;

    background-image: url("https://ableton-production.imgix.net/about/photo-6-a.jpg?dpr=2&fit=crop&h=253&ixjsv=1.1.3&q=50&w=337");
    background-size: cover;
    position: absolute;
    top: 25%;
    right: 70%;
    background-position: 50%;
}

.pict2 {

    height: 550px;
    width: 500px;

    background-image: url("https://ableton-production.imgix.net/about/photo-7.jpg?dpr=2&fit=crop&h=421&ixjsv=1.1.3&q=50&w=421");
    background-size: cover;
    position: absolute;
    top: 12%;
    left: 70%;
    background-position: 50%;
}

.pp3 {

    height: 250px;
    width: 600px;

    padding: 15px;
    align-items: center;
    position: relative;
    top: 600px;
    left: 25%;

}

.pp3 h2 {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.pp3 p {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.divv2 {

    height: 500px;
    width: 80%;
    align-items: center;
    position: relative;
    top: 90%;
    left: 10%;

}

.pcc {
    position: absolute;

    height: 500px;
    width: 50%;
    background-image: url("https://ableton-production.imgix.net/about/photo-8.jpg?crop=right&dpr=2&fit=crop&h=603&ixjsv=1.1.3&q=50&w=1005");
    background-size: cover;
    background-position: 50%;

}

.pcc2 {
    position: absolute;

    height: 500px;
    width: 50%;
    left: 50%;
    background-color: #b1c5ff;
}

.ha {

    height: 500px;
    width: 400px;
    position: relative;

    left: 10%;
}

.ha h2 {
    color: white;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20%;

}

.ha a {
    text-decoration: none;
    color: #0000ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#hrr {
    position: relative;
    top: 95%;
}